/* Style tweaks */

html, body {
  overflow-x: hidden; /* Prevent scroll on narrow devices */
}

body {
  padding-top: 64px;
  border: 0px;
  border-radius: 4px;
}

html {
  min-height: 100.1%;
}

figure {
  margin: 2em auto 0em;
  margin-bottom: 2em;
  display: block;
}

figcaption {
  text-align: center;
  font-style: italic;
  margin-bottom: 1em;
  color: #999;
}

.page-header div {
  text-align: left;
  font-size: 28px;
}

.page-header h1 {
  text-align: left;
  font-size: 26px;
}

.page-header-compact {
  border-bottom: 0px;
}

#title-header {
  margin-top: 0;
  margin-bottom: 0;
}

#logo {
  font-size: 0px;
  position: relative;
}

.logo-img
{
	margin-top: 20px;
	width:45%;
	float: right;
}

#introduction h2 {
  margin-bottom: 1em;
  font-weight: bold;
}

#introduction h3 {
  margin-top: 0;
  font-weight: bold;
}

div.line {
border-bottom:thin solid #D3D3D3;
margin-bottom: 5%;
max-height: 5px;
width:80%;
margin-left: 10%;

}

div.sponsors {
display: inline-block;
}

.navbar-inverse .navbar-brand {
  color: #fff;
}

footer li.sponsor img {
  max-height: 32px;
  padding: 0 0 0px 0.5ex;
  display:inline;
  overflow:visible;
}

img#venue {
  margin-bottom: 20px; }

/* SIDEBAR */
#sponsors, #news, #social {
  margin-top: 1em;
  margin-bottom: 2em;
  box-shadow: 0px 0px;
}

#sponsors .panel-body {
  padding: 0px;
}

.sponsorInstitutional {
  max-width:250px;
  width:100%;
  
}

.sponsorImagePageGold {
  max-height: 100px;
  padding-bottom:10px
}
.sponsorImagePageSilver {
  max-height: 60px;
  padding-bottom:10px
}
.sponsorImagePageBestPaper {
  max-height: 80px;
  padding-bottom:10px
}
.sponsorImagePageBronze {
  max-height: 40px;
  padding-bottom:5px

}
.individualSponsor{
  padding: 2em 0em;
}
.panel h4, .panel h3, .panel h2, .panel h1 {
  margin-top: 0px;
}

.img-responsive-50{display:block;height:auto;max-width:50%}

.img-responsive-20{display:inline;height:auto;max-width:25%; padding:  0em 2em;}

#sponsors img {
  padding: 0em 1em;
  margin: 0;
}

footer #sponsors .col-xs-12 img {
  width: 25%;
  float: left;
  padding: 0em 1em;
  margin: 0;
}

/* NEWS */
#news .list-group-item {
  border: 0px solid;
  border-color: #DDD;
  border-radius: 0px;
}

.news .panel h1, .news .panel h2, .news .panel h3, .news .panel h4 {
  margin-top:1em;
}

.news .panel .panel-heading h2 {
  margin-top:0px;
  font-size: 2em;
  color: #428bca;
}

.news .panel .panel-body h2 {
  margin-top: 1em;
  font-size: 1.8em;
  color:inherit;
}

.news .panel .panel-heading p {
  margin: 0px;
  font-size: 1em;
  font-style: italic;
}

.entry-feature-image{
  width: 100%;
  margin-top: 1em;
  border-radius: 4px;
}

.image-credit {
  text-align: right;
  font-style: italic;
  font-size: 0.8em;
}

/* SOCIAL */
#social a{
  color: #000;
}

#social h4{
  display: inline;
  line-height: 1.7em;
}

/* PROGRESS BAR? */
span.deprecated {
  text-decoration: line-through;
}

div.progress-bar-none {
  visibility: hidden;
}

/* useful classes */
.top0 { margin-top: 0em; }
.top05 { margin-top: 0.5em; }
.top-05 { margin-top: -0.5em; }
.top1 { margin-top: 1em; }
.top-1 { margin-top: -1em; }
.top2 { margin-top: 2em; }
.top-2 { margin-top: -2em; }
.top3 { margin-top: 3em; }
.top-3 { margin-top: -3em; }
.bottom0 { margin-bottom: 0em }
.bottom1 { margin-bottom: 1em }
.bottom2 { margin-bottom: 2em }
.bottom3 { margin-bottom: 3em }
.bold { font-weight: bold; }
.italic { font-style: italic; }
.pull-right { float: right; }
.pull-left { float: left; }
.pull-center { margin: 0 auto }

/* Responsive Google maps  - Flexible iFrame */

.Flexible-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px;
    height: 0;
    overflow: hidden;
}

.Flexible-container iframe,
.Flexible-container object,
.Flexible-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}


/* Off Canvas */

@media screen and (max-width: 767px) {
  .row-offcanvas {
    position: relative;
    -webkit-transition: all 0.25s ease-out;
    -moz-transition: all 0.25s ease-out;
    transition: all 0.25s ease-out;
  }

  .row-offcanvas-right
  .sidebar-offcanvas {
    right: -50%; /* 6 columns */
  }

  .row-offcanvas-left
  .sidebar-offcanvas {
    left: -50%; /* 6 columns */
  }

  .row-offcanvas-right.active {
    right: 50%; /* 6 columns */
  }

  .row-offcanvas-left.active {
    left: 50%; /* 6 columns */
  }

  .sidebar-offcanvas {
    position: absolute;
    top: 0;
    width: 50%; /* 6 columns */
  }
}

@media print {

  body {
    padding-left: 96px;
    padding-right: 96px;
  }

  #sidebar, #sponsors, #news-toggle, footer, hr {
    visibility: hidden;
  }

  .page-header {
    border-bottom: none;
  }
}

.dense-gutter [class*="-6"] {
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 10px;
}

:target::before {
  content: "";
  display: block;
  height: 50px; /* fixed header height*/
  margin: -50px 0 0; /* negative fixed header height */
}

.session-talks{
	padding-left: 3%;
	width:100%;
}

.abstract {
  background-color: #f5f5f5;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) 
.open_abstract, .abstract:hover {
  background-color: #ccc;
}*/

/* Style the abstract content. Note: hidden by default */
.abstract_content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f5f5f5;
} 

.abstract:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: white;
  float: right;
  margin-left: 5px;
}

.open_abstract:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
