
#paper{
	width:80%;
}
.CodeMirror {
    font-size: .8em;
    height: 10px;
}

#bibtex {
    overflow-y: hidden;
    overflow-x: auto;
    height:auto;
    float: left; 
}

#header_img {
    margin-top: 2em;
    margin-bottom: 1em;
}
