
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
    <title>The Language of Fabric</title>	
    <description>We introduce text2fabric, a novel dataset that links free-text descriptions to various fabric materials.</description>
	
    <!-- Icons-->
    <link rel="shortcut icon" href="{{site.url}}/favicon.ico">
    <link rel="icon" type="image/png" href="{{site.url}}/favicon.png">

	<!-- CSS  -->
    <link rel="stylesheet" href="css/vdeschaintre.css">

    <link rel="stylesheet" href="css/papers.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/codemirror.min.css">
    <link rel="stylesheet" href="css/bootstrap.min.css">

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.8.0/codemirror.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/clipboard.js/1.5.3/clipboard.min.js"></script>
	<!--Fonts -->

  <script type="application/ld+json">
	{
	  "@context": "https://schema.org",
	  "@type": "WebSite","url": "https://valentin.deschaintre.fr/nlp4mat"
	}
	</script>
    {%  seo title=false %}

	{% include analytics.html %}

</head>

