
<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
    <title> Valentin Deschaintre</title>
    <meta name="description" content='I am currently Associate Researcher in the <a href="http://wp.doc.ic.ac.uk/rgi/">Realistic Graphics and Imaging group</a> of Imperial College London hosted by <a href="https://www.doc.ic.ac.uk/~ghosh/">Abhijeet Ghosh</a>'>
    <meta name="author"     content="{{ site.author }}">
	
	
    <!-- Icons-->
    <link rel="shortcut icon" href="{{site.url}}/favicon.ico">
    <link rel="icon" type="image/png" href="{{site.url}}/favicon.png">

	<!-- CSS  -->
    <link rel="stylesheet" href="{{site.url}}/css/vdeschaintre.css">

	<!--Fonts -->

      
	{%  seo %}
</head>

