<head>
	<meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

	<!-- Plain Description -->
    <title>{{ site.title }} – {{ page.title }}</title>
    <meta name="description" content="{{ page.description }}">
    <meta name="author"     content="{{ site.author }}">
	
    <!-- Icons-->
    <link rel="shortcut icon" href="{{site.url}}/favicon.ico">
    <link rel="icon" type="image/png" href="{{site.url}}/favicon.png">

	<!-- CSS  -->
	<link rel="stylesheet" href="{{site.url}}/css/bootstrap.min.css">
    <link rel="stylesheet" href="{{site.url}}/css/cvmp.css">
    <link rel="stylesheet" href="{{site.url}}/css/font-awesome.min.css">

	<!--Fonts -->


</head>

