{% assign header = site.data.header %}
<header>
<div class="page-header" id="title-header">
  <div class="row">
    <div id="logo" class="col-xs-12 col-sm-6">
        <div class="img-responsive">
          <a href="{{ site.baseurl }}/"><img src="{{ site.baseurl }}/img/cvmp2018-logo-1200w.png" width="100%" height="100%" alt="CVMP 2018 logo" /></a>
        </div>
		<br>
    </div>
    <div class="col-xs-12 col-sm-6">
      <h1>
        The 15<sup>th</sup> <b>ACM SIGGRAPH European Conference on Visual Media Production</b><br>
        <small><b>13–14 December 2018</b><br>BFI Southbank, London, UK</small>
      </h1>
    </div>
  </div>
</div>
</header>
