<!-- <div class="panel panel-default top1" id="deadlines">
  <h4 class="panel-heading">Important dates</h4>
  <div class="panel-body top-1" markdown="1">
    <span class="bold">Full papers:</span> <span>{{ site.deadlines.fullpapers }}</span><br>
    <span class="bold">Industry talks:</span> <span>{{ site.deadlines.industrytalks }}</span><br>
    <span class="bold">Short papers:</span> <span>{{ site.deadlines.shortpapers }}</span><br>
    <span class="bold">Demos:</span> <span>{{ site.deadlines.demos }}</span>
  </div>
</div> -->
