
{% capture nav_prefix %}/{% endcapture %}

{% if page.year != null %}
    {% assign year = page.year %}
{% else %}
    {% assign year = site.data.egsr.current-year %}
{% endif %}


<nav class="navbar navbar-fixed-top navbar-inverse" role="navigation">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="{{site.url}}/">{{site.title}} {{year}}</a>
    </div>
    <div class="collapse navbar-collapse">
      <ul class="nav navbar-nav">
        {% for link in site.data.navigation[year] %}
              <li><a href='
                {% if link.url contains '/' %}
                    {{site.url}}/{{link.url}}
                {% else %}
                    {{site.url}}/{{link.url}}
                {% endif %}
                '
              >{{link.title}}</a></li>
            {% endfor %}
      </ul>
    </div>
  </div>
</nav>
