
{% if page.year != null %}
	{% assign year = page.year %}
{% else %}
	{% assign year = site.data.egsr.current-year %}
{% endif %}

<div class="col-xs-12 col-sm-9">
  <div id="main" role="main">
    <article class="entry">
      <!--HEADER-->
      {% if page.image.feature %}
        <img src="{{site.url}}/{{page.image.feature}}" class="entry-feature-image" alt="{{ page.title }}">
        {% if page.image.credit %}
          <p class="image-credit"><a href="{{ page.image.creditlink }}">{{ page.image.credit }}</a></p>
        {% endif %}
      {% endif %}
      <!--ENTRY-->
      <div class="entry-wrapper">
        <header class="entry-header">
		  <a href="/{{year}}/program/#{{page.session_id}}">< Back to the program</a>
          <h1 class="entry-title">{{ page.title }} {{ page.event_date }}</h1>
		  <!--<h2 class="entry-title">{{ page.authors }}</h2>-->

        </header>
        <div class="entry-content">

			{% if page.year != null %}
				{% assign year = page.year %}
			{% else %}
				{% assign year = site.data.egsr.current-year %}
			{% endif %}
			{% assign allTalks = site.data.talks[year]  | sort: 'talk_id' %}

			<div class="session-content">

				<h3 id="{{page.session_id}}" style="overflow: auto;"> <a href="{{page.permalink}}" ></a>{% if page.youtube_url%}<a href="{{page.youtube_url}}" ><img src="https://i.pinimg.com/originals/2d/2b/e2/2d2be2421911037d80f9921dc29d54c2.jpg" height="40px" width="65px" style="float: left;"></a>{% endif %}</h3>
				<h4>Starts: <span class="time-slot">{{ page.start | date: "%Y-%m-%dT%H:%M+02:00" }}</span></h4>
				<h4>Ends: <span class="time-slot">{{ page.end | date: "%Y-%m-%dT%H:%M+02:00" }}</span></h4>
				<!--<h5>{{page.authors}}</h5>-->
				<div class="session-talks" >
					{% for talk in allTalks %}
						{% if talk.session_id == page.session_id%}
							<hr width="40%">
							<div>
								<h4>{{talk.title}}</h4>
								<h5>{{talk.authors}}</h5>
								{% if talk.picture%}
									<img src="{{talk.picture}}" style="float:left; margin-right: 10px" width="150" />
								{% endif %}
								{% if talk.bio%}
									<div>
										<h5>Bio</h5>
										<p>{{talk.bio}}</p>
									</div>
								{% endif %}
								{% if talk.abstract%}
									<div>
										<h5>Abstract</h5>
										<p>{{talk.abstract}}</p>
									</div>
								{% endif %}
							</div>

							{% if page.picture != null %}
							{% endif %}


						{% endif %}

					{% endfor %}
					<hr width="75%">
				</div>
			</div>


			<script>
			var coll = document.getElementsByClassName("abstract");
			var i;

			for (i = 0; i < coll.length; i++) {
			  coll[i].addEventListener("click", function() {
				this.classList.toggle("abstract_open");
				var content = this.nextElementSibling;
				if (content.style.display === "block") {
				  content.style.display = "none";
				} else {
				  content.style.display = "block";
				}
			  });
			}
			</script>

          {{ content }}
        </div><!-- /.entry-content -->
      </div><!-- /.entry-wrapper -->
    </article>
  </div><!-- /#main -->
</div>

<script>
    var times = document.getElementsByClassName("time-slot");
    for (var i = 0, len = times.length | 0; i < len; i++) {
        var date = new Date(times[i].innerHTML);
        times[i].innerHTML = date.toLocaleString([], {
			weekday: 'long', year: 'numeric', month: 'long', day: 'numeric',
			hour: '2-digit', minute: '2-digit', timeZoneName: 'short'
		});
    }
</script>